<div class="navbar">
  <mat-toolbar>
    <button class="menu" mat-icon-button color="accent" aria-label="toggle menu" (click)="opened =! opened">
      <mat-icon>menu</mat-icon>
    </button>
    <a href="./home" class="main">
      <img
        class="logo logo-mask"
        src="../assets/images/logo_branca.png"
        alt="UniAteneu : Home"
    /></a>
  </mat-toolbar>
</div>

<div class="sidemenu">
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="push" >
      start
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


