
// logo animation

.logo{
  height: 70px;
  width: auto;
  &:hover {
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
    background-color: rgb(32, 39, 67);
  }
}



.options{
  position: absolute;
  left: 1vw;
  top: 11vh;
}

.root {
  position: absolute;
  left: 23vw; /* Largura da barra lateral */
  right: 0;
  bottom: 0;
  top: 0;
}

// logo animation


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  margin-right: -80px;
}

.main{
  margin: 0 auto;
  height: fit-content;
}

.mat-toolbar{
  background-color: #283044;
}

.mat-sidenav-container{
  height: calc(205vh - 115vh);
}
.mat-sidenav{
  width: 200px;
  background-color: #78A1BB; // air superiority blue
}
