
// logo animation

.logo{
  height: 70px;
  width: auto;
  &:hover {
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
    background-color: rgb(32, 39, 67);
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute; /* Define a posição como fixa */
  top: 0; /* Define a posição vertical como 0 */
  left: 0; /* Define a posição horizontal como 0 */
  width: 20%; /* Define a largura como 20% do viewport width + 1 pixel */
  height: 100%; /* Define a altura como 100% da tela */
  background-color: #f1f1f1; /* Define a cor de fundo */

}



.options{
  position: absolute;
  left: 1vw;
  top: 11vh;
}

.content root {
  width: inherit;
}

.root {
  width: 80%;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}

// logo animation


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  margin-right: -80px;
}

.main{
  margin: 0 auto;
  height: fit-content;
}

.mat-toolbar{
  background-color: transparent;
}
